* {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  padding-bottom: 1rem;
  color: white;
}
.container {
  background: darkslateblue;
  margin: 0 auto;
}
#survey-form {
  text-align: start;
  color: white;
  font-size: 1.5rem;
}
.form-group {
  padding-bottom: 10px;
  margin: 0 25%;
  margin: 2% 10% 0;
}
.form {
  margin: 0 25%;
  padding: 1rem 5%;
  background: #2a2a4a;
}
#name-label {
  display: block;
}
input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
button {
  background: green;
}
